<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="~{ /header.html :: header }"></div>
    <div class="container">
        <h3> 카테고리 커뮤니티 </h3>
        <a href="/board/write">글쓰기</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:5%"> 번호 </th>
                    <th style="width:60%"> 제목 </th>
                    <th style="width:15%"> 작성자 </th>
                    <th style="width:15%"> 작성일 </th>
                    <th style="width:5%"> 조회수 </th>
                </tr>
            </thead>
            <tbody class="boardBody">

            </tbody>
        </table>
    </div>
    <script src="/js/board/board.js"></script>
    <div th:replace="~{ /footer.html :: footer }"></div>
</body>
</html>