<!-- src/main/resources/templates/board/view.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div th:replace="~{ /header.html :: header }"></div>
    <h3> 게시물 상세 출력 페이지 </h3>
    <div>
        <div class="bcName"> ( 카테고리명 ) </div>
        <div class="etcBox"> (작성자) , ( 조회수 ) , ( 작성일 ) </div>
        <div class="bTitle"> 안녕하세요1 (제목구역) </div>
        <div class="bContent"> 내용 (내용구역) </div>
        <div class="bFile"> 첨부파일( 첨부파일구역 )</div>
        <div class="btnBox">

        </div>
    </div>
    <script src="/js/board/view.js"></script>
    <div th:replace="~{ /footer.html :: footer }"></div>
</body>

</html>