
/* 0. 외부 웹 폰트 : 눈누 홈페이지 */
@font-face {
    font-family: 'Ownglyph_UNZ-Rg'; /* 온글잎 언즈체 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 1. 공통 CSS */
*{
    padding : 0px; margin : 0px; /* 여백제거*/
    list-style-type : none; /*글머리 제거 */
    box-sizing : border-box; /* 구역 사이즈 기준 */
    color : black;
    font-size : 16px;
    font-family: 'Ownglyph_UNZ-Rg'; /* 웹 폰트 적용 */
}
a{ text-decoration : none; color : black; }

/* 2. 헤더 메뉴 구역 */
.topMenu{
    display : flex;
    justify-content : space-between;
}
/* 3. 메인 메뉴 */
#mainMenu{  display : flex;  margin : 0px; }
#mainMenu > li { margin : 0px 25px; font-size : 20px; }

/* 4. 로그인 관련 메뉴 */
#loginMenu{ display : flex; margin : 0px; }
#loginMenu > li { margin : 0px 10px; }














